/* src/components/HomePage.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: yellow; /*  yellow */
  color: 110E0B; /* Smoky Black */
  font-family: 'Sunflower', sans-serif;
  padding: 70px 70px; /* Adjust the padding to fit  */
  height: 100vh;
}

.login-button, .join-button {
  justify-content: flex-end;
  padding: 15px 30px;
  margin: 25px;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem; /* Adjust the font-size  */
  cursor: pointer;
  background-color: #110E0B;
  color: #ffffff; /* white  */
  transition: background-color 0.3s, color 0.3s; /* transition for hover effect */
}

.about-section {
  margin-left: 20px;
  margin-bottom: 40px;
}

.join-button:hover, .login-button:hover {
  background-color: #f06bdb; /* Orchid color */
  color: #110E0B; /* Dark color */
}
