body {
  background-color: #Ffffff;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content:space-evenly /* or space-between peut-etre */
}

.nav-list li {
  margin: 0 5px; /* spacing as needed */
  margin-left: 5vh;
  font-weight: 400;
  font-style: normal;
}

.nav-list a {
  text-decoration: none;
  color: #110E0B;
  font-family: 'DM Mono', monospace;
  font-size: 1.1rem;
}

.nav-list a:hover {
  text-decoration: underline;
  text-decoration-color: #110E0B;
  text-underline-offset: 3pt;
  text-decoration-thickness: 2pt;
}