/* src/components/SignupForm.css */

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px; /* Adjust as needed */
  width: 100%; /* Full width */
  max-width: 500px; /* Maximum width */
  margin: 0 auto; /* Center in the middle of the screen */
  padding: 20px;
}

.signup-input {
  margin-bottom: 20px; /* Space between inputs */
  padding: 10px;
  border: 1px solid #000; /* Black border but ideally black thick lines*/
  border-radius: 0; /* No border-radius for a square look */
  width: 100%; /* Full width of the parent container */
  box-sizing: border-box; /* Include padding in the width */
  font-family: 'DM Mono', monospace;
  font-weight: 300; /* Light font-weight */
}

.signup-button {
  padding: 15px 30px;
  border: none;
  border-radius: 20px; /* Rounded borders */
  background-color: #f06bdb; /* Orchid color */
  color: #ffffff; /* White color for the text */
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px; /* Space from the last input */
  width: 100%; /* Full width */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional shadow ? */
}

/* Style for the checkbox */
.signup-form input[type="checkbox"] {
  margin-right: 20px;
}

/* Terms and services text */
.signup-form label {
  color: #110E0B; /* Dark color for text */
  font-family: 'DM Mono', monospace;
  font-weight: 300; /* Light font-weight */
  display: flex;
  align-items: center; /* Center the checkbox and label text */
  margin-bottom: 30px; /* Space before the submit button */
}

.terms-container {
  display: flex;
  justify-content:center; /* Aligns content to the start of the container */
  gap: 10px; /* Provides space between the checkbox and the label */
  margin-bottom: 10px; /* Space between this container and the button */
  margin: 10px;
}

/* Style for the checkbox */
.terms-checkbox {
  -webkit-appearance: none; /* Removes default system appearance */
  -moz-appearance: none;
  appearance: none;
  min-width: 20px; /* Minimum width for the custom checkbox */
  height: 20px; /* Height for the custom checkbox */
  background: transparent;
  border: 2px solid #110E0B; /* Border color - Dark */
  border-radius: 50%; /* Makes it a circle */
  cursor: pointer;
  position: relative;
}

/* Style the checkmark pseudo-element after the checkbox is checked */
.terms-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center the checkmark inside the checkbox */
  width: 10px; /* Width of the checkmark */
  height: 10px; /* Height of the checkmark */
  border-radius: 50%; /* Makes it a circle */
  background-color: #110E0B; /* Background color of the checkmark */
}

/* Style for the label */
.terms-label {
  text-align: center;
  user-select: none; /* Prevents text selection */
  color: #110E0B; /* Text color - Dark */
  font-family: 'DM Mono', monospace;
  font-weight: 300;
  cursor: pointer;
}

/* Additional styles */
h3 {
  font-family: 'Sunflower', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem; /* Corrected font-size declaration */
  color: #110E0B; /* Dark color for text */
}

.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

/* Placeholder style */
::placeholder {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  /* You can add more styles for placeholder if needed */
}

/* Color for the "SIGN UP" */
h2 {
  color: #110E0B; /* Dark text color */
  padding: 5px 0; /* Top and bottom padding */
  width: 100%; /* Full width */
  text-align: center;
}
